@media(max-width:992px) {
    .navbar .navbar-brand {
        width: 20% !important;
        margin: 0;
    }
    .link-home {
        margin: 20px 0;
        display: block;
    }
    .search {
        position: relative;
        width: 100%;
        margin: 20px 0;
    }
    .navbar-nav {
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .form-login .card {
        width: 100% !important;
        margin: 0 !important;
    }
    .form-login .card-body {
        padding: 10px;
    }
    /* Start login page */
    .form-login .card {
        width: 100%;
    }
    /* End login page */
}