* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: 'Almarai', sans-serif;
    background-color: #F8F8F8;
}


/* framwork */

.activee {
    color: #fff;
}

input,
select {
    user-select: none;
    outline: none;
}

.hidden {
    display: none !important;
}


/* framwork */


/* Start navbar-vendor */

.navbar-vendor {
    padding: 17px 25px;
    background: #fff;
    box-shadow: 0px 0px 23px 0px #707070;
}

.navbar-vendor .navbar-brand {
    width: 52%;
}

.navbar-vendor ul {
    margin-top: 12px;
}

.navbar-vendor li {
    list-style: none;
    display: inline-block;
}

.navbar-vendor .dropdown-toggle::after {
    display: none;
}

.profile-vendor .nav-link {
    font-size: 24px;
    color: #353535;
    font-weight: 700;
}

.dropdown-notification {
    position: absolute;
    transform: translate3d(0px, 45px, 0px);
    top: 0px;
    left: unset !important;
    right: 0px;
    will-change: transform;
    width: 350px;
    height: auto;
}

.form-group input {
    border: 1px solid #676767;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 55px;
    width: 95%;
    display: block;
    outline: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #A8A8A8;
    padding-right: 40px;
}


/* End navbar-vendor */


/* Start navbar-right-vendor */

.container-navbar-right {
    background-color: #222;
    height: 100vh;
}

.container-navbar-right .home-page {
    padding: 1rem 1.25rem;
}

.home-page a {
    padding-right: 30px;
}

.home-page a,
.accordion-header button {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.accordion-header button {
    outline: none;
}

.accordion-header button img {
    padding-left: 30px;
}

.accordion-button:not(.collapsed) {
    background: unset !important;
    color: #fff;
}

.container-navbar-right .accordion-collapse {
    background: #353535;
}

a.accordion-body {
    display: block;
    color: #B4B4B4;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
}

.accordion-button::after {
    background-image: url(../images/Polygon.png);
    background-repeat: no-repeat;
    background-size: 14px;
    margin-bottom: -12px;
    margin-left: unset;
    margin-right: auto;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/Polygon.png);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    margin-bottom: 2px;
}


/* End navbar-right-vendor */


/* Start home-vendor */

.box-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: 0 4px 10px -6px #000000;
    padding: 20px;
    height: 180px;
    width: 76%;
    margin: 20px auto;
}

.cl-be {
    border-top: 14px solid #733289;
}

.cl-lb {
    border-top: 14px solid #36B9CC;
}

.cl-gn {
    border-top: 14px solid #1CC88A;
}

.box-numbers h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 17px 0;
}

.box-numbers span {
    font-size: 42px;
    font-weight: 400;
}

.cl-be h3,
.cl-be span {
    color: #733289;
}

.cl-lb h3,
.cl-lb span {
    color: #36B9CC;
}

.cl-gn h3,
.cl-gn span {
    color: #1CC88A;
}

.last-order {
    margin-top: 70px;
    margin-bottom: 30px;
}

.last-order h3 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}

.box-lastOrder {
    background: #fff;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    box-shadow: 0 2px 10px -6px #000000;
    max-width: 95%;
    padding: 50px 30px;
    margin-bottom: 30px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.box-lastOrder:hover {
    box-shadow: 0 2px 17px -6px #000000;
}

.details-order h4 {
    color: #36B9CC;
    font-size: 23px;
    font-weight: 700;
    display: inline-block;
    padding-left: 60px;
}

.details-order p {
    display: inline-block;
    font-size: 23px;
    color: #858796;
    font-weight: 400;
}


/* End home-vendor */


/* Start management page */

.section-search-product h4 {
    font-size: 33px;
    font-weight: 700;
    color: #000000;
    margin-top: 7px;
}

.section-search-product .form-group {
    position: relative;
}

.section-search-product .form-group input {
    width: 74%;
    border: 1px solid #733289;
    color: #733289;
    border-radius: 29px;
}

.section-search-product .form-group input::placeholder {
    color: #733289;
}

.table-management {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 70px;
    border-collapse: separate;
    border-spacing: 0 20px;
    padding: 10px
}

.table-management thead {
    position: relative !important;
    margin-top: 50px;
}

.table-management thead th {
    padding-bottom: 15px;
    position: relative;
}

.table-management thead th::after {
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    left: 0;
    background: #000;
}

.table-management thead th::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #676767;
}

.table-management thead th:last-child::after {
    width: 0 !important;
    height: 0 !important;
}

.table-management tbody tr {
    font-size: 16px;
    height: 120px;
    font-weight: 700;
    background: #FFFFFF;
    box-shadow: 0px 10px 9px 0px #ccc;
    /* border-bottom: 1px solid #ccc; */
    /* border-top: 20px solid #F8F8F8; */
}

.icon-search {
    position: absolute;
    top: 17px;
    left: 330px;
}

.table-product {
    padding-right: 0;
    margin-top: 55px;
}

.table-product li {
    margin-left: 20px;
}

.table-product li a {
    background-color: #fff;
    box-shadow: 0px 8px 9px 0px #ccc;
    height: 60px;
    border-radius: 8px;
    padding-top: 18px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    font-size: 16px;
    font-weight: 700;
}

.table-product li img {
    padding-right: 20px;
}

.table-product .product-tab {
    border-right: 5px solid #4E73DF;
    color: #4E73DF;
}

.table-product .review-tab {
    border-right: 5px solid #1CC88A;
    color: #1CC88A;
}

.table-product .sold-tab {
    border-right: 5px solid #5EC6D5;
    color: #5EC6D5;
}

.table-product .stop-tab {
    border-right: 5px solid #F6C23E;
    color: #F6C23E;
}

.table-product .rejected-tab {
    border-right: 5px solid #E74A3B;
    color: #E74A3B;
}

.table-product .expired-tab {
    border-right: 5px solid #858796;
    color: #858796;
    padding-top: 12px;
}


/* active tabs */

.table-product .product-tab.active,
.table-product .show>.nav-link {
    background-color: #4E73DF;
}

.table-product .review-tab.active,
.table-product .show>.nav-link {
    background-color: #1CC88A;
}

.table-product .sold-tab.active,
.table-product .show>.nav-link {
    background-color: #5EC6D5;
}

.table-product .stop-tab.active,
.table-product .show>.nav-link {
    background-color: #F6C23E;
}

.table-product .rejected-tab.active,
.table-product .show>.nav-link {
    background-color: #E74A3B;
}

.table-product .expired-tab.active,
.table-product .show>.nav-link {
    background-color: #858796;
}

.head-list-product {
    margin-top: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid #858796;
    padding-bottom: 15px;
    width: 89%;
}

.body-list-product {
    padding-bottom: 15px;
    width: 89%;
    margin-bottom: 0;
}

.head-list-product,
.body-list-product {
    padding-right: 0;
}

.head-list-product li,
.body-list-product li {
    display: inline-block;
    width: 14%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.head-list-product li {
    border-left: 1px solid #858796;
}

.head-list-product li:last-of-type {
    border-left: unset;
}

.body-list-product {
    background: #FFFFFF;
    box-shadow: 0px 8px 9px 0px #ccc;
    padding: 20px 0;
    margin-top: 60px;
    margin-bottom: 15px;
}


/* End management page */


/* Start payments-page */

.head-list-payment {
    margin-top: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid #858796;
    padding-bottom: 15px;
    width: 89%;
}

.body-list-payment {
    padding-bottom: 15px;
    width: 89%;
    margin-bottom: 0;
}

.head-list-payment,
.body-list-payment {
    padding-right: 0;
}

.head-list-payment li,
.body-list-payment li {
    display: inline-block;
    width: 16%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.head-list-payment li {
    border-left: 1px solid #858796;
    color: #000000;
}

.head-list-payment li:last-of-type {
    border-left: unset;
}

.body-list-payment {
    background: #FFFFFF;
    box-shadow: 0px 8px 9px 0px #ccc;
    padding: 20px 0;
    margin-top: 60px;
    margin-bottom: 15px;
    color: #733289;
}


/* End payments-page */


/* Start complaints-department page */

.complaints-department {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.complaints-department img {
    margin-bottom: 40px;
}

.complaints-department p {
    font-size: 31px;
    font-weight: 700;
}


/* End complaints-department page */


/* Start rate page */

.box-rate {
    margin-top: 50px;
    background: #fff;
    padding: 25px 60px 50px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px -6px #000;
}

.box-right {
    position: relative;
}

.box-right img {
    margin-left: 20px;
}

.date_rate {
    position: absolute;
    top: 39px;
    right: 80px;
}

.date-rating-user {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #7F7F7F;
}

.name-user {
    font-size: 21px;
    font-weight: 400;
}

.date_rate img {
    margin-top: -10px;
}

.box-right p {
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
}

.box-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.box-left button {
    padding: 10px 20px;
    border-radius: 0;
    font-size: 18px;
    font-weight: 700;
}

.box-left button img {
    margin-left: 20px;
}


/* end rate page */


/* Start financial-account page */

.financial-account {
    margin-top: 50px;
}

.box-account {
    padding: 50px 20px;
    text-align: center;
    background: #fff;
    box-shadow: 3px 3px 8px -5px #000;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

.box-account p {
    color: #000000;
    margin-bottom: 60px;
}

.text-account {
    color: #1CC88A;
}


/* end financial-account page */


/* Start main-add-product page */

.search-bar {
    position: relative;
    margin-top: 40px;
}

.search-bar img {
    position: absolute;
    top: 20px;
    left: 100px;
}

.search-text P {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.add-product {
    padding: 35px;
    margin-top: 50px;
}

.add-product p {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}

.add-product button {
    font-size: 20px;
    font-weight: 700;
    background-color: #733289;
    border: none;
    color: #fff;
    padding: 9px 25px;
    margin-top: 5px;
}


/*End main-add-product page */


/* Start product page */

.form-product {
    margin-top: 70px;
}

.form-product .form-group select {
    height: 52px;
    width: 48%;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
}

.style-forms {
    height: 52px;
    width: 98% !important;
    border-radius: 16px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #858796;
    outline: none;
}

.form-product .form-group select:first-of-type {
    margin-left: 10px;
}

.select-group select {
    cursor: pointer;
}

.select-group select,
.form-product input,
.form-product textarea {
    height: 52px;
    width: 98%;
    border-radius: 16px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #858796;
    outline: none;
}

.form-group textarea {
    height: 100px;
}

.box-choose-img input:first-of-type {
    display: inline-block;
    width: 60%;
    margin-left: 20px;
}

input.choose-img {
    width: unset;
    height: unset;
    border: unset;
    padding: unset;
    display: inline-block;
    border-radius: unset;
}

.choose-img {
    color: transparent;
    opacity: 1;
}

.choose-img::-webkit-file-upload-button {
    visibility: hidden;
}

.choose-img::before {
    content: 'أختر صورة';
    color: #fff;
    padding: 15px 20px !important;
    display: inline-block;
    background: #733289;
    border: 1px solid #733289;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.choose-img:active {
    outline: 0;
}

.choose-img:hover::before {
    background: #0842ca;
}

.details-products h4 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    margin-top: 40px;
}

.details-products textarea {
    height: 190px;
    width: 98%;
    border-radius: 16px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #858796;
    outline: none;
}

.btn-add-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    background-color: #733289;
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    border: unset;
    padding: 14px 110px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.btn-add-product:hover {
    background-color: #0842ca;
}


/* End product page */


label.error {
    color: #f00 !important;
    font-size: 15px;
    position: relative;
    line-height: 1;
    width: 100%;
}




/* Start add category page */

.upload-image {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

#image_preview_container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.upload-image .container-image {
    border: 4px solid #018bfc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    position: relative;
}

.text-upload-image>input {
    display: none;
}

#remove {
    position: absolute;
    top: 0;
    background: #018bfc;
    border: 1px solid #018bfc;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
}

.nav-approval {
    position: relative;
}

.notification {
    position: absolute;
    background: rgb(226, 82, 82);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 15%;
    top: 50%;
    transform: translateY(-50%)
}

/* End add category page */


/* Switch checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Switch checkbox */



/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.disabled {
    pointer-events: none !important;
}

.review-avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 1px solid #ddd !important;
    background-image: linear-gradient(to right, #ccc, #fff);
}

.notify-alarm {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 7px;
}
/* Rounded sliders */