input.customized {
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
}

.aswan-luxor {
    width: 150px !important;
    display: inline-block;
}

.hide {
    display: none;
}

.highlight_cell {
    background: #4CAF50!important;
    color: white!important;
}