.login-input .form-group .form-control {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #cc0404;
    padding-left: 0;
    color: #7A88A1;
}
.login-form__btn.submit {
    padding: 15px 40px;
    background: #cc0404;
    font-weight: 700;
}
.text-primary {
    color: #cc0404 !important;
}
.error{
  color:red !important;
}
